.venv/
__pycache__/
*.pyc
.DS_Store

results/*
!results/td3_v17_training_metrics.json
!results/figures_v17/
!results/figures_compare/
results/figures_compare/*
!results/figures_compare/*.png
!results/figures_baseline/
results/figures_baseline/*
!results/figures_baseline/*.png
logs/

*.pt
*.pth
.ipynb_checkpoints/Miniconda3-latest-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh
models/*.zip